
<h1 align="center">Registration Form</h1>
<ul class="nav" class="nav nav-pills flex-column flex-sm-row">
  <li class="nav-item">
    <a routerLink = "home" class="nav-link " routerLinkActive="active">Home</a>
  </li><br>
  <li class="nav-item">
    <a routerLink = "about" class="nav-link" routerLinkActive="active" >About</a>
  </li><br>
  
  <li class="nav-item">
    <a routerLink = "contact" class="nav-link"routerLinkActive="active" >contact</a>
  </li><br>
  <li class="nav-item">
    <a routerLink = "service1" class="nav-link" routerLinkActive="active">Service1</a>
  </li><br>
</ul>


<router-outlet></router-outlet>